<a target="_blank" href="https://colab.research.google.com/github/sonder-art/fdd_o23/blob/main/codigo/polars/02_sintaxis_polars.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
#!pip isntall polars

In [2]:
import polars as pl

In [3]:
# Crear un DataFrame simple
df = pl.DataFrame({
    "nombre": ["Ana", "Luis", "Marta"],
    "edad": [25, 32, 18]
})

# pl.col

In [4]:
# Seleccionar la columna 'edad' y realizar una operación
edad_mas_diez = df.select(
    pl.col("edad") + 10
)

print(edad_mas_diez)

shape: (3, 1)
┌──────┐
│ edad │
│ ---  │
│ i64  │
╞══════╡
│ 35   │
│ 42   │
│ 28   │
└──────┘

Ahora crea una nueva columna que aparezca en el mismo `df` que se llame `super_edad` y sea la edad al cuadrado. Tienes que usar `with_columns`, `pl.col` y solo usar una linea de codigo

In [ ]:
# TU codigo aqui

# Varias Operaciones

In [5]:
# Añadir dos nuevas columnas utilizando operaciones con 'pl.col'
df = df.with_columns([
    (pl.col("edad") * 2).alias("edad_doble"),
    (pl.col("edad") > 30).alias("mayor_de_30")
])

print(df)

shape: (3, 4)
┌────────┬──────┬────────────┬─────────────┐
│ nombre ┆ edad ┆ edad_doble ┆ mayor_de_30 │
│ ---    ┆ ---  ┆ ---        ┆ ---         │
│ str    ┆ i64  ┆ i64        ┆ bool        │
╞════════╪══════╪════════════╪═════════════╡
│ Ana    ┆ 25   ┆ 50         ┆ false       │
│ Luis   ┆ 32   ┆ 64         ┆ true        │
│ Marta  ┆ 18   ┆ 36         ┆ false       │
└────────┴──────┴────────────┴─────────────┘

# Groupby Complejo

In [6]:
# Crear un DataFrame de ejemplo
df = pl.DataFrame({
    "departamento": ["ventas", "ventas", "IT", "IT", "HR", "HR"],
    "empleado": ["Ana", "Luis", "Marta", "Juan", "Elena", "Carlos"],
    "salario": [30000, 35000, 42000, 40000, 38000, 32000]
})

In [7]:

# Realizar un groupby y múltiples agregaciones
resultado = df.groupby("departamento").agg([
    pl.col("salario").mean().alias("salario_promedio"),
    pl.col("salario").min().alias("salario_minimo"),
    pl.col("salario").max().alias("salario_maximo"),
    pl.col("salario").std().alias("desviacion_estandar_salario")
])

print(resultado)

shape: (3, 5)
┌──────────────┬──────────────────┬────────────────┬────────────────┬─────────────────────────────┐
│ departamento ┆ salario_promedio ┆ salario_minimo ┆ salario_maximo ┆ desviacion_estandar_salario │
│ ---          ┆ ---              ┆ ---            ┆ ---            ┆ ---                         │
│ str          ┆ f64              ┆ i64            ┆ i64            ┆ f64                         │
╞══════════════╪══════════════════╪════════════════╪════════════════╪═════════════════════════════╡
│ IT           ┆ 41000.0          ┆ 40000          ┆ 42000          ┆ 1414.213562                 │
│ ventas       ┆ 32500.0          ┆ 30000          ┆ 35000          ┆ 3535.533906                 │
│ HR           ┆ 35000.0          ┆ 32000          ┆ 38000          ┆ 4242.640687                 │
└──────────────┴──────────────────┴────────────────┴────────────────┴─────────────────────────────┘

/tmp/ipykernel_12144/491167400.py:2: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  resultado = df.groupby("departamento").agg([

In [8]:
# Filtrar los departamentos donde el salario promedio es mayor a 35000
deptos_alto_salario = df.groupby("departamento").agg([
    pl.col("salario").mean().alias("salario_promedio")
]).filter(pl.col("salario_promedio") > 35000)

print(deptos_alto_salario)

shape: (1, 2)
┌──────────────┬──────────────────┐
│ departamento ┆ salario_promedio │
│ ---          ┆ ---              │
│ str          ┆ f64              │
╞══════════════╪══════════════════╡
│ IT           ┆ 41000.0          │
└──────────────┴──────────────────┘

/tmp/ipykernel_12144/3630847870.py:2: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  deptos_alto_salario = df.groupby("departamento").agg([